# Ignore node_modules directories
node_modules/
backend/node_modules/
frontend/node_modules/
exploreboard/node_modules/


# Ignore public directories except for index.html
frontend/public/*
!frontend/public/index.html
!frontend/public/media
exploreboard/public/*
!exploreboard/public/index.html
!exploreboard/public/media
# Other common files to ignore
backend/.env

